<ng-container *ngIf="loading; else spaceXProgram">
  <div class="loader"></div>
</ng-container>

<ng-template #spaceXProgram>
  <div class="header">
    <header>SpaceX Launch Programs</header>
  </div>

  <div class="launch-programs">
    <div class="filters">
      <app-launch-filters
        [launchYears]="launchYears"
        [launchLandSuccess]="launchLandSuccess"
        (launchyear)="getAllSpaceXData($event)"
        (successfulLaunch)="getSpaceXDataWithLaunchFilter($event)"
        (successfulLand)="getSpaceXDataWithLaunchAndLandFilter($event)"
      ></app-launch-filters>
    </div>

    <div class="programs" *ngIf="spaceXData.length !== 0">
      <app-launch-programs [spaceXData]="spaceXData"></app-launch-programs>
    </div>
  </div>

  <footer>
    <h3 style="text-align: center">Developed by :{{ developer }}</h3>
  </footer>
</ng-template>
