<div class="launch-program-container">
  <div class="launch-program-card" *ngFor="let program of spaceXData">
    <ng-container *ngIf="program.imgPath; else defaultImgBox">
      <img [src]="program.imgPath" loading="lazy" alt="Launch-Program-Img" />
    </ng-container>
    <ng-template #defaultImgBox><div class="img"></div></ng-template>
    <h3 class="title">{{ program.missionName }} #{{ program.flightNumber }}</h3>
    <h4>Mission Ids:</h4>
    <ng-container *ngFor="let id of program.missionIds">
      <li class="value">{{ id }}</li>
    </ng-container>
    <h4>
      Launch Year: <span class="value">{{ program.launchYear }}</span>
    </h4>
    <h4>
      Successful Launch: <span class="value">{{ program.launchSuccess }}</span>
    </h4>
    <h4>
      Successful Land: <span class="value">{{ program.landSuccess }}</span>
    </h4>
  </div>
</div>
